
  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
  }

  section {
    width: 100%;
    margin-top: 5rem;
  }

  .user-img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  th,
  td {
    padding: 10px; 
  }

  th {
    background-color: #f2f2f2; 
    color: var(--color-3);
  }

  th:first-child {
    text-align: center;
  }

  .btn-table {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: #d32f2f; 
  }
